.goodsBlock {
    background-color: blue;
    display: flex;
    justify-content: space-around;
}

.goodsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    margin: 30px;
    width: 1366px;
}